*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(211, 211, 211, 0.5);
}

header {
    background-color: white;
    padding: 10px 20px;
}

h1 {
    display: inline-block;
    font-size: 50px;
}

#contenitore1 {
    width: 1000px;
    height: 1300px;
    background-color: white;
    margin: 5% auto;
    padding-left: 100px;
}

button {
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#bottoneAzzurro {
    background-color: rgb(34, 116, 170);  
    color: white;                          
   
}

#bottoneBianco {
    background-color: white; 
    color: grey;                           
   
}

hr {
    border-color: lightgrey;
    margin-left: 0;
}

li {
    display: block;
    margin: 15px;
}

span {
    font-size: smaller;
    color: white;
    border-radius: 10px;
    padding: 5px;
   
}

.testoAzzurro {
    background-color: rgb(51, 113, 196);
}

.testoViola {
    background-color: rgb(106, 71, 187);
}

.testoVerde {
    background-color: rgb(11, 104, 107);
}

.testoArancione {
    background-color:rgb(219, 95, 23);
}

.testoGiallo {
    background-color: rgb(186, 221, 57);
}

.testoRosa {
    background-color: rgb(196, 84, 149);
}


.done::before{
    content: '✔';
    border: 1px solid green;
    border-radius: 15px;
    color: green;
    padding: 2px;
    margin-right: 5px;
    font-size:15px;
}

.undone::before {
    content: '✖';
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    padding: 2px;
    margin-right: 5px;
    font-size:15px;
}

.contenitoreLista {
    margin-top: 30px;
    margin-bottom: 30px;
}